<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online book  Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
<body>
    <!-- nav bar start -->
 
      <!-- nav bar end. -->
        <div class= "container mt-5">
            <div class ="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
              <div class="container mb-5">
                <h3 class="text-center" style="font-size: 30px; color:teal">Edit  Book</h3>
              </div>


   
              <% bookDetails.forEach(function(book){%>

          <form  method="PUT" id="form">
            <!-- Name input -->
            <div class="form-outline mb-4">
                <input type="text" id="Title" class="form-control" name="Title"  value="<%- book.Title%>" />
                <label class="form-label" for="title">Book Title</label>
            </div>
            <!--Varieties of books-->
            <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="author" class="form-control"  name="Author" value="<%- book.Author%>" />
                    <label class="form-label" for="author">Author's Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="number" id="pageCount" class="form-control" name="pageCount" value="<%- book.pageCount%>" />
                    <label class="form-label" for="pageCount">Page Number</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="Genre" class="form-control"  name="Genre" value="<%- book.Genre%>" />
                    <label class="form-label" for="Genre">Genre</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="Publisher" class="form-control"  name="Publisher" value="<%- book.Publisher%>" />
                    <label class="form-label" for="Publisher">Publisher</label>
                  </div>
                </div>
              </div>
            <!-- Message input -->
            <div class="form-outline mb-4">
                <textarea class="form-control" id="Description" rows="4" name="Description"> <%- book.Description%></textarea>
                <label class="form-label" for="Description">Description</label>
            </div>
            <!-- Submit button -->
       <a href=""   data-id = "<%- book.bookId %>"  type="submit"  class="btn btn-primary btn-block mb-4" id="submitbtn"  onclick="return confirm('You book updated succesfully')"  style="width: 100%;" >Add New Book </a>
     </form>
     <%})%>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
      <!-- footer section, -->
        <!-- Footer -->
        <footer class="text-center text-white mt-5" style="background-color: #0a4275;">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Home of Knowledge</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                  View More
                </button>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
          <!-- Grid container -->
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="">Hademath</a>
          </div>
          <!-- Copyright -->
        </footer>
       
        <!-- Footer -->

        <!-- <script src="js/detail.js"></script> -->

        <script>
          const submitbtn = document.getElementById("submitbtn");
          const Author = document.getElementById("author");
          const Description = document.getElementById("Description");
          const Title = document.getElementById("Title");
          const Genre = document.getElementById("Genre");
          const pageCount = document.getElementById("pageCount");
          const Publisher = document.getElementById("Publisher");

          submitbtn.addEventListener("click", async (e)=>{

            e.preventDefault();
            const bookid = e.target.dataset.id

           await   fetch(`/editbook/${bookid}`,{
                method:"PUT",
                headers:{
                  "Content-Type":"application/json",
                },
                body: JSON.stringify({
                  Title:Title.value,
                  Description:Description.value,
                  Author:Author.value,
                  Genre:Genre.value,
                  Publisher:Publisher.value,
                  pageCount:pageCount.value
                })
              }).then(res=>res.json).catch(err=> console.log(err));

          })
        </script>
</body>
</html>